<!-- Simple form which will send a GET request -->
<form action="example.com/user-data">
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" name="firstName">

  <input type="submit" value="Save Name">
</form>